@include b(CascaderType) {
  @include e(width) {
    width: map.get($component-width, 'value') !important;
    //box-sizing: border-box;
    //flex-shrink: 0;
    //flex-grow: 0;
  }
  .el-tag {
    max-width: 108px;
  }
  .Everright-filter-el-cascader{
    min-width: 250px;
    width: 100%;
    flex-shrink: 0;
  }
}
